
h4{
	color:red;
}
h3{
	color:teal;
	font-size:50px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:black;
}
.header{
	padding:20px;
text-align:left;
color:white;
font-size:25px;
font-family:Century725 Cn BT;
}

.navbar {
  overflow: hidden;
  background-color:black;
}

.navbar a {
  float:left;
  font-size: 16px;
  color: white;
  text-align:center;
  padding: 14px 10px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 15px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.footer{
padding:20px;
text-align:center;
background:#666;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

 
h1{
 font-family:Arial Black;
}
h3{
	font-family:impact;
}
h4{
	font-family:Arial Black;
}
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 10px;
  text-align: center;
  background: #005967;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
./*navbar {
  overflow: hidden;
  background-color: #333;
  *position: sticky;
  position: -webkit-sticky;*/
  /*top: 0;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: white;
}


/* Right-aligned link */
.navbar a.right {
  float: right;
}


}

/* Active/current link */
/*.navbar a.active {
  background-color: #666;
  color: white;
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #0089ff;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: white;
    width: 100%;
  }
}
/* The grid: Four equal columns that floats next to each other */
.column3 {
  float: left;
  width: 20%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container3 {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
.spacer-10{
height:20px;
clear:both;
width:100%;}

.row{
margin-right:-15px;
margin-left:-15px;
}
.row:before,
.row:after{
display:table;
content:"";
}
.row:after{
clear:both;
}
.side-menu h4{
background-color:#b9e9054;
font-weight:bold;	
padding:10px;
height:50px	;
text-decoration-line:underline;
}
side-menu>ul>li:{
background-color:#f1f1f1;
border-bottom:1px solid:#eceae4;
padding:15px;
padding:left:30px;
padding:right:260px;
text-transform:uppercase;
font-weight:bold;
height:50px;
margin-bottom:3px;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 130px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 130%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.spacer-10{
	height:20px;
	clear:both;
	width:100%;
}
.row{margin-right:-15px;
	margin-left:-15px;
}
.row:before,
.row:after{
display:table;
content:"",	
}
.row:after{
	clear:both;
}
.side-menu h4{
	background-color:#b9e9054;
	font-weight:bold;
	padding:10px;
	height:50px;
	text-decoration-line:underline;
}
.side-menu h4{
	background-color:#b9e9054;
	font-weight:bold;
	padding:10px;
	height:50px;
	text-decoration-line:underline;
}
.side-menu ul>li{
	background-color:#fififi;
	border-bottom:1px solid :#eceae4;
	padding:15px;
	padding-left:30px;
	padding-right:260px;
	text-transform:appearance;
	font-weight:bold;
	height:50px;
	margin-bottom:3px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container5 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column5 {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
button{
	font-family:impact;
	color:blue;
}

